@font-face {
  font-family: 'enterprise_social';
  src: url('../font/enterprise_social.eot?21088707');
  src: url('../font/enterprise_social.eot?21088707#iefix') format('embedded-opentype'),
       url('../font/enterprise_social.woff?21088707') format('woff'),
       url('../font/enterprise_social.ttf?21088707') format('truetype'),
       url('../font/enterprise_social.svg?21088707#enterprise_social') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'enterprise_social';
    src: url('../font/enterprise_social.svg?21088707#enterprise_social') format('svg');
  }
}
*/
 
 [class^="social-"]:before, [class*=" social-"]:before {
  font-family: "enterprise_social";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.social-mail:before { content: '\e821'; } /* '' */
.social-slideshare:before { content: '\e820'; } /* '' */
.social-link:before { content: '\e822'; } /* '' */
.social-share:before { content: '\e81f'; } /* '' */
.social-delicious:before { content: '\e800'; } /* '' */
.social-gplus:before { content: '\e801'; } /* '' */
.social-lanyrd:before { content: '\e804'; } /* '' */
.social-stumbleupon:before { content: '\e802'; } /* '' */
.social-pinterest:before { content: '\e803'; } /* '' */
.social-foursquare:before { content: '\e805'; } /* '' */
.social-digg:before { content: '\e806'; } /* '' */
.social-reddit:before { content: '\e807'; } /* '' */
.social-flickr:before { content: '\e808'; } /* '' */
.social-google:before { content: '\e809'; } /* '' */
.social-klout:before { content: '\e80a'; } /* '' */
.social-linkedin:before { content: '\e80b'; } /* '' */
.social-meetup:before { content: '\e80c'; } /* '' */
.social-comments:before { content: '\e812'; } /* '' */
.social-twitter:before { content: '\e80e'; } /* '' */
.social-youtube:before { content: '\e80f'; } /* '' */
.social-vimeo:before { content: '\e810'; } /* '' */
.social-yahoo:before { content: '\e811'; } /* '' */
.social-facebook:before { content: '\e813'; } /* '' */
.social-github:before { content: '\e814'; } /* '' */
.social-lastfm:before { content: '\e815'; } /* '' */
.social-quora:before { content: '\e816'; } /* '' */
.social-tumblr:before { content: '\e817'; } /* '' */
.social-yelp:before { content: '\e818'; } /* '' */
.social-scribd:before { content: '\e819'; } /* '' */
.social-posterous:before { content: '\e81a'; } /* '' */
.social-print:before { content: '\e81b'; } /* '' */
.social-instagram:before { content: '\e81c'; } /* '' */
.social-drupal:before { content: '\e81d'; } /* '' */
.social-bitbucket:before { content: '\e81e'; } /* '' */
.social-rss:before { content: '\e80d'; } /* '' */