
.bella-cogs:before { content: '\e800'; } /* '' */
.bella-adjust:before { content: '\e801'; } /* '' */
.bella-cogwheel:before { content: '\e802'; } /* '' */
.bella-drop:before { content: '\e803'; } /* '' */
.bella-design:before { content: '\e804'; } /* '' */
.bella-marketing:before { content: '\e805'; } /* '' */
.bella-star:before { content: '\e806'; } /* '' */
.bella-tablet:before { content: '\e807'; } /* '' */
.bella-team:before { content: '\e808'; } /* '' */
.bella-testing:before { content: '\e809'; } /* '' */
.bella-desktop:before { content: '\e80a'; } /* '' */
.bella-ux:before { content: '\e80b'; } /* '' */
.bella-photos:before { content: '\e80c'; } /* '' */