// Insert your styling here.

.page-title {
	background-color: @gray-light;
	&, h1, h2, .page-header {
		color: white;
	}
	.page-header {
		border: none;
		letter-spacing: 1px;
		margin: 0;
		padding: 0.5em 0;
	}
	.main-container & {
		background-color: transparent;
		&, h1, h2, .page-header {
			color: @brand-primary;
		}
	}
}

.page-title-above {
	.navbar {
		margin-bottom: 0;
	}
}
.page-title-inside {
	.page-header {
		margin-top: 0;
		padding-top: 0;
	}
}

#page-header {
	background-color: @brand-secondary;
	padding: 2em 0;
	margin-bottom: 2em;
	@media @mobile {
		padding: 2em 15px;
	}
}

.highlighted {
	margin-top: 1em;
}

.featurette {
	margin-top: 1em;
	margin-bottom: 1em;
	.featurette-heading {
		margin-top: 0;
	}
}

.main-container-inner {
	margin-top: 2em;
	margin-bottom: 2em;
}

.region-sidebar-first, .region-sidebar-second {
	.block {
		margin-bottom: 20px;
		.block-title {
			margin-top: 0;
		}
	}
	.block-menu-block {
		.menu {
			width: 100%;
		}
	}
}

.btn-social-share {
	.addthis_counter.addthis_bubble_style {
		a.addthis_button_expanded {
			color: @brand-primary;
			font-size: @font-size-base;
		}
	}
	.addthis_button {
		&:hover, &:active, &:focus {
			a.addthis_button_expanded {
				color: #FFF;
			}
		}
	}
}

.carousel {
	&.slide {
		position: relative;
		.carousel-caption {
			position: absolute;
			left: 25%;
			text-align: left;
			width: 25%;
			top: 10%;

			h3 {
				color: @brand-primary;
				font-weight: 300;
				.font-size(2.8);
				margin-bottom: 0.75em;
				text-transform: uppercase;
				text-shadow: none;

			  	@media @tablet, @mobile {
				  text-align: left;
				  margin-top:0.5em;
				  margin-bottom:0.5em;
				}
			}
			p {
				color: @gray;
				.font-size(1.75);
				font-weight: 300;
				text-shadow: none;
			}
			.btn {
				.font-size(1.8);
				font-weight: 500;
				margin-top: 1em;
				padding: 10px 15px;

			  	@media @tablet, @mobile {
				  margin-top: 0;
				}
			}
			@media @tablet-max {
				left: 0;
				top: 0;
				padding: 0 15px;
				position: relative;
				text-align: center;
				width: 100%;
				p {
					text-align: left;
					width: 100%;
				}
				.btn {
					margin-right: auto;
					margin-left: auto;
					.font-size(1.4);
					padding: 6px 10px;
				}
			}
			@media @mobile {
				display: none;
				.cke_editable & {
					display: block;
				}
			}
		}
	}
	.carousel-indicators {
		@media @mobile {
			display: none;
		}
		li {
			border-color: @brand-primary;

		  	&:before {content: '';} // Ahmad: Disables ol numbers that appear on slider
			&.active {
				background-color: @brand-primary;
			}
			&::before {
				display: none;
			}
		}
	}
}
.carousel-inner {
	@media @mobile {
		overflow: auto;
		padding-bottom: 5px;
	}
}

.webform-client-form {
	.webform-component, .form-submit {
		margin-top: 15px;
	}
}

// Sidebar
.sidebar {
	.navbar-nav {
		margin: 0 0 1em;
	}
}
