// Insert your styling here.
.footer {
	border: 0;
	margin: 0;
	padding: 0;
	.footer-top {
		background-color: @gray-lighter;
		padding: 45px 0;
		&, p, a, h2, h3, h4 {
			color: @gray;
		}
	}
	.footer-bottom {
		background-color: @gray;
		padding: 20px 0;
		&, p, a, h2, h3, h4 {
			color: white;
		}	
	}
	.block-title {
		.font-size(2.2);
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 0.5em;
		position: relative;
		&:after {
			content: "";
			left: 0;
			bottom: 0;
			height: 1px;
			position: absolute;
			width: 65%;
			border-bottom: 2px solid @gray-light;
		}
	}
	.block-menu-block {
		.menu {
			li {
				float: none;
				position: relative;
				a {
					.font-size(1.8);
					line-height: 1.5em;
					padding-left: 20px;
					&:before {
						content: '\a0';
						background-color: @gray;
						background-repeat: repeat;
						position: absolute;
						height: 2px;
						left: 0;
						overflow: hidden;
						top: 48%;
						width: 12px;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.view-enterprise-blog {
		.views-row {
			margin-bottom: 1em;
			&.views-row-last {
				margin-bottom: 0;
			}
		}
		h2, h3 {
			.font-size(1.8);
			font-weight: 700;
			line-height: 1.5em;
			margin-top: 0;
			padding-bottom: 0.5em;
			position: relative;
			&:after {
				content: "";
				left: 0;
				bottom: 0;
				height: 1px;
				position: absolute;
				width: 65%;
				border-bottom: 2px solid @gray-light;
			}
		}
	}
	.btn-social-profile {
		background-color: @gray;
		border: none;
		.rounded(100%);
		color: @gray-lighter !important;
		display: block;
		margin: 0 0 0.5em;
		width: 35px;
		height: 35px;
		padding: 8px 0;
		&:hover {
			color: @brand-primary !important;
		}
	}
}
