// Insert your styling here.
header {
	overflow: auto;
}

// Navbar colors
.navbar-default {
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid @gray-light;
	height: auto;
	overflow: visible;
	z-index: 99;
	color: @gray;
	.navbar-nav {
		> li {
			> a {
				color: @gray;
				&:hover, &:focus {
					background-color: white;
					color: @brand-primary;
				}
			}
			&.active-trail, &:hover {
				> a {
					background-color: transparent;
					color: @brand-primary;
				}
			}
		}
		> .active {
			> a {
				background-color: transparent;
				color: @brand-primary;
				&:hover, &:focus {
					background-color: white;
					color: @brand-primary;
				}
			}
		}
	}
}
.navbar-inverse {
	background-color: @brand-primary;
	color: @brand-accent;
	border-bottom: darken(@brand-primary, 15%);
	.navbar-nav {
		> li {
			border-left: 1px solid darken(@brand-primary, 15%);
			&.active-trail, &:hover {
				> a {
					background-color: darken(@brand-primary, 10%);
					color: @brand-accent;
				}
			}
			&:last-child {
				border-right: 1px solid darken(@brand-primary, 15%);
			}
			> a {
				color: @brand-accent;
				&:hover {
					background-color: darken(@brand-primary, 10%);
					color: @brand-accent;
				}
			}
		}
		> .active {
			> a {
				background-color: darken(@brand-primary, 10%);
				color: @brand-accent;
				&:hover, &:focus {
					background-color: darken(@brand-primary, 10%);
					color: @brand-accent;
				}
			}
		}
	}
}

// Specific navbar fixes
.navbar-fixed-top {
	margin-bottom: 0;
}
.header-container {
	float: left;
	overflow: auto;
	width: 20%;
}
.navbar-container {
	float: left;
	width: 80%;
}
.navbar > .container .navbar-brand {
	margin-left: 0;
}

// Header - logo, name, etc
.navbar-header {
	overflow: auto;
	@media @normal, @wide {
		float: left;
		width: 18%;
	}
	@media @mobile {
		text-align: center;
		padding: 1em;
	}
	.name {
		color: @brand-primary;
		.font-size(3.6);
		font-weight: 700;
		line-height: 1em;
		letter-spacing: 3px;
		margin: 0 !important;
		padding: 5px 0 0;
		text-transform: uppercase;
		&:hover {
			color: @brand-primary;
		}
		.navbar-inverse & {
			&, &:hover {
				color: @brand-accent;
			}
		}
		@media @mobile {
			display: block;
			overflow: auto;
		}
	}
	.logo {
		.box-sizing();
		display: inline-block;
		margin: 0;
		padding: 10px;
		
		img {
			display: inline-block;
		}
		@media @mobile {
			display: block;
			margin: 0;
			overflow: auto;
			text-align: left;
			max-width: 80%;
		}
	}
	.navbar-toggle {
		.icon-bar {
			background-color: @gray-light;
			.navbar-inverse & {
				background-color: @brand-primary;
			}
		}
	}
}
.navbar-collapse {
	overflow: auto;
	@media @normal, @wide {
		float: left;
		width: 82%;
	}
	.navbar-menu {
		position: relative;
		.region-navigation {

		}
	}
}

// Navar
.navbar-default, .navbar-inverse {
	.navbar-nav {
		float: right;
		text-align: center;
		@media @mobile {
			display: block;
			float: none;
			margin: 0;
		}
		.caret {
			display: none;
		}
		> .active {
			a {
				&:focus, &:hover {
					background-color: transparent;
				}
			}
		}
		> li {
			> a {
				font-weight: 300;
				padding: 15px 10px;
				text-transform: uppercase;
				&:hover {
				}
			}
			// Mobile navbar-nav > li
			@media @mobile {
				.box-sizing();
				border: 0;
				border-top: 1px solid @gray-light;
				display: block;
				float: left;
				overflow: auto;
				width: 50% !important;
			}
			&.expanded {
				@media @tablet {
					> .dropdown-menu {
						li {
							border-bottom: 1px solid lighten(@gray, 45%);
							.box-sizing();
							padding: 0 5px !important;
							&:last-child {
								border: 0;
							}
							&:hover {
								color: @text-color;
								background-color: @gray-lighter;
							}
						}
						padding: 0;
						a {
							font-weight: 300;
							padding: 5px 20px;
							&:hover {
								color: @text-color;
								background-color: transparent;
							}
						}
					}
					&:hover {
						.navbar-is-fixed-top & {
							> .dropdown-menu {
								border-top: 0;
								display: block;
								position: fixed;
								left: auto;
							}
						}
					}
				}
			}
		}
		// Mobile dropdowns
		> .open {
			a {
				color: @text-color;
				&:hover, &:focus {
					background-color: @gray-lighter;
				}
			}
			> a {
				&, &:hover, &:focus {
					background-color: transparent;
					color: @brand-primary;
				}
			}
			.dropdown-menu {
				> .active > a {
					background-color: transparent;
					color: @brand-primary;
				}
			}
		}
	}
}

.dropdown-menu {
	> li {
		> a {
			white-space: pre-line;
		}
	}
	> .active {
		background-color: @gray-lighter;
		> a {
			&, &:hover, &:focus {
				color: @text-color;
				background-color: transparent;
			}
		}
	}
}

.navbar-collapse {
	.block-search {
		.contextual-links-wrapper {
			left: 10px;
		}
		.block-title {
			display: none;
		}
		.form-search {
			@media @mobile {
				margin-bottom: 1em;
			}
			@media @tablet {
				input, button {
					.font-size(1);
					height: 30px;
				}
				.input-group {
					input {
						float: right;
						width: 150px;
					}
				}
			}
		}
	}
}

.nav, .collapse, .dropup, .dropdown {
  position: static;
}  

.dropdown-menu {
  left: auto;
  width: auto;
}
/* This enables hover dropdowns */
.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 99;
  white-space: nowrap;
}
.dropdown:hover .dropdown-menu > li > a {
  width: auto;
  white-space: nowrap;
}
.nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
