// Insert your styling here.
header {
	overflow: auto;
	&.navbar-default {
		background-color: white;
		border-bottom: 1px solid @gray-light;
	}
	&.navbar-fixed-top {
		margin-bottom: 0;
	}
	.header-container {
		float: left;
		overflow: auto;
		width: 20%;
	}
	.navbar-container {
		float: left;
		width: 80%;
	}
	.navbar-header {
		overflow: auto;
		@media @normal, @wide {
			float: left;
			width: 18%;
		}
		@media @mobile {
			text-align: center;
			padding-top: 1em;
		}
		.name, .navbar-brand {
			color: @brand-primary;
			.font-size(3.6);
			font-weight: 700;
			line-height: 1em;
			letter-spacing: 3px;
			margin: 0 !important;
			padding: 5px 0 0;
			text-transform: uppercase;
			&:hover {
				color: @brand-primary;
			}
			@media @mobile {
				display: block;
				float: none;
				overflow: auto;
				width: 100%;
			}
		}
		.logo {
			img {
				display: inline-block;
				max-height: 100%;
				max-width: 100%;
			}
			@media @mobile {
				display: block;
				margin: 0;
				overflow: auto;
				text-align: left;
				max-width: 80%;
			}
		}
		.navbar-toggle {
			.icon-bar {
				background-color: @gray-light;
			}
		}
	}
	.navbar-collapse {
		overflow: auto;
		@media @normal, @wide {
			float: left;
			width: 82%;
		}
	}
}

.navbar-default {
	.navbar-nav {
		display: table;
		text-align: center;
		width: 100%;
		counter-reset: navitem;
		@media @mobile {
			display: block;
			margin: 0;
		}
		.caret {
			display: none;
		}
		> li {
			border-left: 1px solid @gray-light;
			display: table-cell;
			float: none;
			&.expanded {
				> .dropdown-menu {
					background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.95);
					border: 0;
					.box-shadow(none);
					left: 0;
					position: fixed;
					width: 100%;
					a {
						color: @brand-accent;
						&:hover {
							text-decoration: underline;
						}
					}
					@media @mobile {
						.box-shadow(none);
						position: relative;
						top: 0 !important;
					}
				}
				&:hover {
					> .dropdown-menu {
						display: block;
					}
				}
			}
			&:last-child {
				border-right: 1px solid @gray-light;
			}
			> a {
				color: @gray;
				font-weight: 300;
				padding: 15px 10px;
				text-transform: uppercase;
				&:hover {
					background-color: white;
					color: @brand-primary;
				}
			}
			// Mobile navbar-nav > li
			@media @mobile {
				border-left: 0;
				border-right: 0;
				border-bottom: 1px solid @gray-light;
				display: block;
				float: none;
				overflow: auto;
				&:last-child {
					border: 0;
				}
				> a {

				}
			}
		}
		> .active {
			> a {
				background-color: white;
				color: @brand-primary;
				&:hover, &:focus {
					background-color: white;
					color: @brand-primary;
				}
			}
		}
	}
}

.mega-content {
	text-align: left;
	ul {
		> li {
			padding-left: 10px;
			&.expanded {
				padding-left: 0;
				.font-size(1.6);
			}
		}
	}
}
