.btn-default, .btn-info {
	background-color: transparent;
	border-color: @brand-primary;
	color: @brand-primary;
	font-weight: 300;
	text-transform: uppercase;
	&:hover {
		background-color: @brand-primary;
		border-color: @brand-primary;
		color: white;
	}
}

.trifold {
	.btn-default {
		margin-top: 1em;
		.style-section-brand & {
			border-color: white;
			color: white;
			&:hover {
				background-color: white;
				color: @brand-primary;
			}
		}
	}
}

.block-menu-block {
	.menu {
		li {
			float: none;
			position: relative;
			a {
				.font-size(1.8);
				line-height: 1.5em;
				padding-left: 20px;
				&:before {
					content: '\a0';
					background-color: @brand-primary;
					background-repeat: repeat;
					position: absolute;
					height: 2px;
					left: 0;
					overflow: hidden;
					top: 48%;
					width: 12px;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}