.btn-default, .btn-info {
	background-color: transparent;
	border-color: @brand-primary;
	color: @brand-primary;
	font-weight: 300;
	text-transform: uppercase;
	
}

.trifold {
	.btn-default {
		margin-top: 1em;
		.style-section-brand & {
			border-color: white;
			color: white;
		}
	}
}