i {
	&.i-circle, &.i-thumbnail, &.i-round {
		background-color: @brand-secondary;
		color: white;
	}
}

.btn {
	&.btn-info {
		background-color: white;
		border: 1px solid @brand-secondary;
		color: @brand-secondary;
		&:hover {
			background-color: @brand-secondary;
			color: white;
		}
	}
}
