#block-enterprise-rel-views-facet-filter .sub-level.level-1 {
    padding-left: 1em;
}

#block-enterprise-rel-views-facet-filter .sub-level.level-2 {
    padding-left: 2em;
}

#block-enterprise-rel-views-facet-filter .collapse-toggle {
    font-size: 85%;
}